@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --font-pretendard: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  font-family: var(--font-pretendard);
}

button,
input,
select,
textarea {
  font-size: inherit;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
